<div class="article">
  <div class="article__indexHeader">
    <h1>Latest Articles</h1>
  </div>
  <div class="article__index">
    <%= paginate @articles %>
    <% @articles.each do |article| %>
      <div class="article__container">
        <div class="article__indexDate">
          <div class="article__indexDateMo">
            <%= article.created_at.strftime('%^b') %>
          </div>
          <div class="article__indexDateDay">
            <%= article.created_at.strftime('%e') %>
          </div>
        </div>
        <div class="article__indexTitleDesc">
          <div class="article__indexTitle">
            <%= link_to article.title, article_path(article) %>
          </div>
          <div class="article__indexDesc">
            <%= markdown(article.content) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
