<div class="board">
  <div class="board__indexHeader">
    <h1><%= @board.title %> | All Topics</h1>
    <div class="board__headerLinks">
      <%= link_to 'New Topic', new_forum_topic_path %> | <%= link_to 'All Forums', forums_path %>
    </div>
  </div>
  <div class="board__topics">
    <div class="board__topicsColHeaders">
      <div class="board__topicTitle">Topic</div>
      <div class="board__topicCreated">Created By</div>
      <div class="board__topicUpdated">Last Post By</div>
    </div>
    <%= paginate @topics %>
    <% @topics.each do |topic| %>

    <div class="board__topic">
      <div class="board__topicTitle">
        <%= link_to topic.title, topic_path(topic), class:"board__topicAlternateLink" %>
      </div>
      <div class="board__topicCreated">
        <%= topic.user.name %>
      </div>
      <div class="board__topicUpdated">
        <%= topic.user.name %>
        at <%= topic.updated_at.strftime('%H:%M %m/%d/%Y') %>
      </div>
      <%= link_to '', topic_path(topic), class:"board__topicPrimaryLink" %>
    </div>



      <!-- <div class="topic__title">
        <%= link_to topic.title, topic_path(topic) %>
      </div>
      <div class="topic__created">
        Created by <%= topic.user.name %>
        at <%= topic.created_at.strftime('%m/%d/%Y %H:%M') %>
      </div>
      <div class="topic__updated">
        <% if topic.comments.count != 0 %>
          Last Post by (some user)
          at <%= topic.updated_at.strftime('%m/%d/%Y %H:%M') %>
        <% else %>
          Last Post by <%= topic.user.name %>
          at <%= topic.updated_at.strftime('%m/%d/%Y %H:%M') %>
        <% end %>
      </div> -->


    <% end %>
  </div>
</div>
