BOARDS SHOW (USE TOPICS INDEX INSTEAD)
<!-- <div class="article">
  <div class="article__header">
    <h1 class="article__title"><%= @board.title %></h1>
    <div class="article__date"><%= @board.created_at.strftime('%B %-m, %Y') %></div>
  </div>
  <div class="article__content">
    <div class="article__paragraph">
      <%= simple_format(@board.description) %>
    </div>
    <% @board.topics.order('updated_at DESC').each do |topic| %>
      <div class="topic__title">
        <%= link_to topic.title, topic_path(topic) %>
      </div>
      <div class="topic__created">
        Created by <%= topic.user.name %>
        at <%= topic.created_at.strftime('%m/%d/%Y %H:%M') %>
      </div>
      <div class="topic__updated">
        <% if topic.comments.count != 0 %>
          Last Post by (some user)
          at <%= topic.updated_at.strftime('%m/%d/%Y %H:%M') %>
        <% else %>
          Last Post by <%= topic.user.name %>
          at <%= topic.updated_at.strftime('%m/%d/%Y %H:%M') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div> -->
